#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.resultado {
  display: flex;
  justify-content: center;   /* Centraliza horizontalmente */
  align-items: center;       /* Centraliza verticalmente */
  text-align: center;
}

.resultado ion-label {
  font-size: 50px;           /* Deixa grande */
  font-weight: bold;
  color: var(--ion-color-danger); /* Pode mudar a cor */
}

.campo {
  margin-bottom: 16px; /* espaço entre os inputs */
}
